/* responsive design */
@media (max-width:991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        left: 0;
        width: 100%;
    }
    .main.active{
        left: 300px;
    }
    .cardbox{
        grid-template-columns: repeat(2,1fr);
    }
   
}
@media (max-width:768px){
     .details{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:480px){
    .cardbox{
        grid-template-columns: 1fr;
    }
    
    .status.inprogress{
        white-space: nowrap;
    }
    .details .recentOrder{
        overflow-x: scroll;
    }
    .btn{
        white-space: nowrap;
    }
}