/* responsive design */
@media (max-width:991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        left: 0;
        width: 100%;
    }
    .main.active{
        left: 300px;
    }
    .cardbox{
        grid-template-columns: repeat(2,1fr);
    }
   
}
@media (max-width:768px){
     .details{
        grid-template-columns: repeat(1,1fr);
    }
}